<div class="select-element">
  <div style="padding: 30px 0; font-size: 16px; color: #003856">{{resultText}}</div>
  <div class="selected-item">
    <div text-angular
         ng-click=""
         id="editor1"
         name="editor1"
         ng-model="textModel"></div>
    <span class="select-add-icon" ng-mouseover="saveCursor()" data-ng-click="isOpened = !isOpened"></span>
    <!--<span class="switch-icon" data-ng-class="isOpened ? 'icon-arrow-up' : 'icon-arrow-down'"></span>-->
    <!--<span class="switch-icon icon-arrow-down animate-show" data-ng-hide="isOpened"></span>-->
    <div style="position: relative">
      <ul class="select-list animate-show"
          data-ng-show="isOpened">
        <li class="select-list-item"
            data-ng-repeat="(key, val) in variables"
            data-ng-click="select(key)"><span class="list-item-elem" data-key={{key}}>{{val.name}}</span></li>
      </ul>
    </div>
  </div>
</div>
