<div class="post-list">
    <div class="post"
         data-ng-repeat="post in postsList">
        <div class="post-poster">
            <img data-ng-src="{{post.posterSrc}}">
            <span class="post-category">{{categories[post.category]}}</span>
            <div class="post-tags-list">
                <span class="tag-item"
                      data-ng-repeat="tag in post.tags">{{tags[tag]}}</span>
            </div>
        </div>
        <div class="post-description">
            <h3 class="post-title">{{post.title}}</h3>
            <p>{{post.preview}}</p>
            <div class="post-info-bar">
                <span class="post-date">{{post.date}}</span>
                <span class="post-author">{{post.author}}</span>
                <span class="post-comments">{{post.commentsNum}} Comments</span>
                <a class="post-read-more" href="">Read more...</a>
            </div>
        </div>
        <div class="post-separator"
             data-ng-hide="$last"></div>
    </div>
    <div class="pagination" style="height: 60px"></div>
</div>