<div class="post-list">
    <div class="post"
         data-ng-repeat="post in postsList">
        <a href="#/post/{{post.id}}">
            <div class="post-poster">
                <img data-ng-src="{{post.posterSrc}}">
                <a class="post-category" href="#/category/{{post.category}}">{{categories[post.category]}}</a>
                <div class="post-tags-list">
                    <a class="tag-item"
                          href="#/tag/{{tagKey}}"
                          data-ng-repeat="tagKey in post.tags">{{tags[tagKey]}}</a>
                </div>
            </div>
        </a>
        <div class="post-description">
            <h3 class="post-title"><a href="#/post/{{post.id}}">{{post.title}}</a></h3>
            <p class="post-preview">{{post.preview}}</p>
            <div class="post-info-bar">
                <span class="post-date">{{post.date}}</span>
                <span class="post-author hidden-xs">{{post.author}}</span>
                <span class="post-comments">{{post.commentsNum}} Comments</span>
                <a class="post-read-more hidden-xs" href="#/post/{{post.id}}">Read more...</a>
            </div>
        </div>
        <div class="post-separator"
             data-ng-hide="$last"></div>
    </div>
    <div class="pagination" style="height: 60px"></div>
</div>