
@import url(./../node_modules/normalize.css/normalize.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans");
body {
  font-family: 'PT Sans', sans-serif;
  background-color: #F8F8FF; }

a, a:hover, a:visited, a:link, a:active {
  text-decoration: none; }

.wrapper {
  margin: 0 auto; }
  @media (min-width: 1200px) {
    .wrapper {
      width: 1200px; } }

header {
  margin-bottom: 13px; }

.header-logo {
  display: inline-block;
  vertical-align: top;
  width: 215px;
  height: 97px;
  margin: 0;
  padding: 0;
  background-image: url("./../img/logo.png"); }

.header-nav {
  line-height: 97px;
  float: right;
  margin-right: 25px; }
  .header-nav .link {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    line-height: 22px;
    color: #707070;
    margin-right: 35px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer; }
    .header-nav .link:last-child {
      margin-right: 0; }
    .header-nav .link.active {
      color: #1e4e8a; }
    .header-nav .link:hover {
      color: #1B98E0; }

.search-bar {
  line-height: 97px;
  text-align: right; }
  .search-bar .search-btn {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 45px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #1e4e8a url("./../img/search-icon.png") no-repeat center;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .search-bar .search-btn:hover {
      background-color: #1B98E0; }

.post-poster {
  position: relative;
  font-family: 'Open Sans', sans-serif; }
  .post-poster img {
    width: 100%; }
  .post-poster .post-category {
    position: absolute;
    top: 25px;
    right: -15px;
    display: inline-block;
    padding: 5px;
    font-size: 18px;
    font-weight: 300;
    background-color: #1e4e8a;
    color: #F8F8FF; }

