@import "mixin";

$color-primary-light: #F8F8FF;
$color-primary-dark: #1e4e8a;
$color-primary-active: #1B98E0;
$color-primary-text: #707070;
$color-post-text: #202020;
$color-footer-bg: #0d2441;

$transition-link-time: 0.2s;

$header-height-mobile: 85px;
$header-content-height-mobile: 75px;
$header-height: 110px;
$header-content-height: 97px;

$col-main-margin-right: 25px;
$col-main-content-margin-left: 15px;