.select-element {

  .selected-item {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .select-list {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: 2px solid #e1e1e1;
    border-top: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #ffffff;
    max-height: 280px;
    overflow-y: scroll;
  }

  .select-list-item {
    height: 70px;
    line-height: 70px;
    padding: 0 17px;
    cursor: pointer;
    transition: 0.1s;
    img {
      height: 60%;
      vertical-align: middle;
    }
    &:hover {
      background-color: #f0f0f0;
    }
  }

  .item-title {
    display: inline-block;
    line-height: 21px;
    font-size: 17px;
    margin-left: 10px;
  }

  .label-template {
    display: inline-block;
    //background-image: url(/assets/img/icon-doc1.jpg);
    background-position-x: 8px;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ededed;
    border-radius: 50px;
    vertical-align: middle;
    line-height: 21px;
    position: relative;
    z-index: 10;
    &:before {
      content: attr(value);
      line-height: 21px;
      vertical-align: middle;
      display: inline-block;
      padding: 1px 8px 3px 35px;
      border: 1px solid #627080;
      border-radius: 50px;
    }
  }


  .label-add-container {
    position: absolute;
    right: 3px;
    top: 3px;
    display: inline-block;
    height: 50px;
    width: 30px;
    background-color: #e1e1e1;
  }

  .label-add-icon {
    position: absolute;
    right: 6px;
    top: 14px;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #1e4e8a;
    border-radius: 50%;
  }

  .ta-toolbar{
    display: none;
  }

  .ta-editor.form-control, .ta-scroll-window.form-control {
    min-height: 40px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    border-radius: 2px;
    border: 2px solid #e1e1e1;
    box-shadow:inset 0px 0px 0px 1px #e1e1e1;
    //border-right: 30px solid #e1e1e1;
  }

  .ta-editor.ta-text {
    p {
      padding-right: 20px;
      padding-left: 3px;
      line-height: 30px;
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }

  .form-control > .ta-bind {
    height: auto;
    min-height: 40px;
    padding: 6px 12px;
  }


  //.animate-show {
  //  opacity: 1;
  //}
  //
  //.animate-show.ng-hide-add {
  //  transition: all linear 0.15s;
  //
  //  &.switch-icon {
  //    transition: all linear 0s;
  //  }
  //}
  //
  //.animate-show.ng-hide-remove {
  //  transition: all linear 0.15s;
  //
  //  &.switch-icon {
  //    //transition: all linear 0s;
  //  }
  //}
  //
  //.animate-show.ng-hide {
  //  opacity: 0;
  //}


}