@import "./../node_modules/normalize.css/normalize.css";
@import "variables";
@import "mixin";

@import url('https://fonts.googleapis.com/css?family=Roboto');

//@font-face {
//  font-family: "Open Sans Semibold";
//  src: url(../../build/fonts/OpenSans-Semibold.ttf);
//}
//
//@font-face {
//  font-family: "Roboto Regular";
//  src: url(../../build/fonts/Roboto-Regular.ttf);
//}
//
//@font-face {
//  font-family: "Roboto Light";
//  src: url(../../build/fonts/Roboto-Light.ttf);
//}

body {
  background-image: url('./../img/bg.png');
  font-family: 'Roboto', sans-serif;
  //font-family: 'Fira Sans', sans-serif;
  height: 100%;
}

a, a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}


//.wrapper {
//  margin: 0 auto;
//  @include desktop {
//    width: 1200px;
//  }
//}

