@import "./../node_modules/normalize.css/normalize.css";
@import "variables";
@import "mixin";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans:400,400i,700,700i');

//@font-face {
//  font-family: "Open Sans Semibold";
//  src: url(../../build/fonts/OpenSans-Semibold.ttf);
//}
//
//@font-face {
//  font-family: "Roboto Regular";
//  src: url(../../build/fonts/Roboto-Regular.ttf);
//}
//
//@font-face {
//  font-family: "Roboto Light";
//  src: url(../../build/fonts/Roboto-Light.ttf);
//}

body {
  //font-family: 'Open Sans', sans-serif;
  font-family: 'PT Sans', sans-serif;
  background-color: $color-primary-light;
  //min-height: 100vh;
}

a, a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  @include desktop {
    width: 1200px;
  }
}


//
// Header section
//

header {
  //height: $header-height;
  margin-bottom: $header-height - $header-content-height;
}

.header-logo {
  display: inline-block;
  //remove additional height
  vertical-align: top;
  width: 215px;
  height: 97px;
  margin: 0;
  padding: 0;
  background-image: url('./../img/logo.png');
}

.header-nav {
  line-height: $header-content-height;
  float: right;
  margin-right: $col-main-margin-right;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  li {
    display: inline-block;
    margin-right: 35px;
    &:last-child {
      margin-right: 0;
    }
  }
  .link {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    //line-height: 22px;
    color: $color-primary-text;
    transition: $transition-link-time;
    cursor: pointer;
    &.active {
      color: $color-primary-dark;
    }
    &:hover {
      color: $color-primary-active;
    }
  }
}

.search-bar {
  line-height: $header-content-height;
  text-align: right;
  .search-btn {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 45px;
    border-radius: 3px;
    background: $color-primary-dark url('./../img/search-icon.png') no-repeat center;
    cursor: pointer;
    transition: $transition-link-time;
    &:hover {
      background-color: $color-primary-active;
    }
  }
}

//
// Post list section
//

p {
  font-size: 17px;
  line-height: 21px;
  color: $color-post-text;
}

.post-list {

}

.post {
  margin-right: $col-main-margin-right;
}

.post-separator {
  margin: 8px -15px 15px 0;
  height: 1px;
  background-color: #e1e1e1;
}

.post-poster {
  position: relative;
  img {
    width: 100%;
  }
  .post-category {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 25px;
    right: -15px;
    display: inline-block;
    padding: 7px 10px;
    font-size: 18px;
    font-weight: 300;
    background-color: $color-primary-dark;
    color: $color-primary-light;
    border-radius: 2px;
  }
  .post-tags-list {
    position: absolute;
    left: $col-main-content-margin-left;
    bottom: $col-main-content-margin-left;
  }
}

.tag-item {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  padding: 1px 10px;
  margin: 13px 10px 0 0;
  font-size: 14px;
  background-color: $color-primary-dark;
  color: $color-primary-light;
  border-radius: 2px;
  transition: $transition-link-time;
  &:hover {
    background-color: $color-primary-active;
    color: $color-primary-light;
  }
}

.post-title {
  font-size: 26px;
  font-weight: 800;
  color: $color-post-text;
  margin: 15px 0 12px 0;
  transition: $transition-link-time;
  &:hover {
    color: $color-primary-active;
  }
}

.post-description {
  margin-left: $col-main-content-margin-left;
  .post-date, .post-author, .post-comments {
    font-size: 16px;
    font-style: italic;
    color: $color-primary-text;
    padding-left: 25px;
    margin-right: 30px;
  }
  .post-date {
    background: url('./../img/time-icon.png') no-repeat left;
  }
  .post-author {
    background: url('./../img/author-icon.png') no-repeat left;
  }
  .post-comments {
    background: url('./../img/comment-icon.png') no-repeat left;
  }
  .post-read-more {
    float: right;
    font-size: 16px;
    color: $color-primary-dark;
    transition: $transition-link-time;
    &:hover {
      color: $color-primary-active;
    }
  }
}

//
// Sidebar section
//

.sidebar {
  .sidebar-block {
    margin-bottom: 30px;
    .title-line {
      font-family: 'Open Sans', sans-serif;
      font-size: 24px;
      height: 24px;
      margin: 0 0 15px 0;
      line-height: 24px;
      font-weight: 300;
      text-transform: uppercase;
      position: relative;
      &::after {
        z-index: -1;
        content: " ";
        position: absolute;
        left: 0;
        bottom: 50%;
        width: 100%;
        height: 1px;
        background-color: $color-primary-dark;
      }
      .title {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        padding-right: 10px;
        background-color: $color-primary-light;
      }
    }
  }
  .wide-btn {
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-radius: 3px;
    text-align: center;
    font-size: 22px;
    color: $color-primary-light;
    background-color: $color-primary-dark;
    cursor: pointer;
    transition: $transition-link-time;
    &:hover {
      background-color: $color-primary-active;
    }
  }
}

.categories-nav {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .link {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    transition: $transition-link-time;
    color: #424242;
    &:hover {
      color: $color-primary-active;
    }
  }
}

.popular-posts {
  margin-top: 25px;
  .link {
    display: block;
    margin-bottom: 15px;
    transition: $transition-link-time;
    &:hover {
      .post-title {
        color: $color-primary-active;
      }
    }
  }
  .post-title {
    margin: 0 0 3px 15px;
    font-size: 16px;
    line-height: 20px;
    font-style: italic;
  }
  .post-date {
    margin-left: 15px;
    font-size: 14px;
    font-style: italic;
    color: $color-primary-text;
  }
  img {
    margin-top: 5px;
    width: 100%;
  }
}


//
// Footer section
//

footer {
  background-color: $color-footer-bg;
}

.footer-content {
  padding: 20px 0;
  text-align: center;
  .logo {
    display: inline-block;
    width: 144px;
    height: 46px;
    background-image: url('./../img/footer-logo.png');
  }
}