//$tablet-width:   768px;
//$laptop-width:   992px;
//$desktop-width:  1200px;

$color-primary-light: #F8F8FF;
$color-primary-dark: #1e4e8a;
$color-primary-active: #1B98E0;
$color-primary-text: #707070;

$transition-link-time: 0.2s;

$header-height: 110px;
$header-content-height: 97px;
$col-main-margin-right: 25px;