//$tablet-width:   768px;
//$laptop-width:   992px;
//$desktop-width:  1200px;

$link-color: #a76143;
$text-primary-color: #556266;
$text-content-color: #83837d;
$separator-border-color: #ddddd7;

$article-section-bg: #ffffff;
$aside-section-bd: #f4f4ed;